/*Definir estilo etiqueta*/
h1{
    color:chartreuse;
}
h2{
    color: aquamarine;
}
h2 p a{
    color:pink;
}
h2 p{
    color:blueviolet;
}
h2 p span{
    color:blue;
}
p{
    color: green;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;/*Es el espacio dentro del borde*/
    border: 10px solid rebeccapurple;/*Es el color del borde*/
    border-radius: 80px;/*Es el redondeado del borde*/
    margin: 40px; /*Es el margen del elemento*/
}
/*Definir estilo clase*/
.titulo-h2{
    color:darkseagreen;
}
/*Definir estilo identificador*/
#si{
    color:blueviolet;
}
/*Definir estilo atributo*/
[atributo="atri"]{
    color:blue;
}
/*Definir estilo pseudo-clases*/
h2 p a:hover{
    color:red;
}
h2 p:hover{
    color:red;
}
/*Metodología BEM*/
.contact-form__input--active{
    color: brown;
}
.contact-form__input{
    color: rgb(6, 200, 248);
}
