h1{
    color:chartreuse;
}
.titulo-h2{
    color:darkseagreen;
}
#si{
    color:blueviolet;
}
[atributo="atri"]{
    color:blue;
}
h2 p a{
    color:pink;
}
h2 p a:hover{
    color:red;
}
h2 p{
    color:blueviolet;
}
h2 p:hover{
    color:red;
}
h2 p span{
    color:blue;
}
.contact-form__input--active{
    color: brown;
}
.contact-form__input{
    color: rgb(6, 200, 248);
}